
/* Fonts */
:root {
  --font-default: "Open Sans", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-primary: 'Barlow Condensed', sans-serif;
  --font-secondary: 'Barlow Condensed', sans-serif;
}

/* Colors */
:root {
  --color-white: #fafafa;
  --color-primary: #27a776;
  --color-black: #161718;
  --color-pink: rgb(220, 31, 154);
}

/* Smooth scroll behavior */
:root {
  scroll-behavior: smooth;
}

/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
body {
  font-family: var(--font-default);
  color: var(--color-pink);
  /* background-color: #000; */
  
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center ;
  flex-direction: column;
  position: relative;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
::-webkit-scrollbar-thumb {
  background: rgba(90, 90, 90);
}
::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.2);
}

a {
  color: var(--color-primary);
  text-decoration: none;
}

a:hover {
  color: #32cf93;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-primary);
}

.background{
  height: 100%; 
  width: 100%;
  background-image: url('../img/together1.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  filter: blur(8px);
  -webkit-filter: blur(8px);
}

.timecount-contain{
  color: var(--color-pink);
  /* position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); */
  background-color: #d9b5b447; /* Black w/opacity/see-through */ 
  font-weight: bold;
  border: 3px solid #fa11c0;
  position: absolute;
  /* top: 50%;
  left: 50%; */
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  animation: heartbeat 2s ease infinite;
}

#timecount-number{
  font-size: 36px;
  text-shadow: var(--color-pink ) 2px 1px 12px;
  color: #fff;
}

@keyframes heartbeat {
  from {
    transform: scale(1);
  }
  10%{
    transform: scale(1.02);
  }
  15%{
    transform: scale(1);
  }
  20% {
    transform: scale(1.1);
  }
  50% {
    transform: scale(1);
  }
  to {
    transform: scale(1);
  }
}